<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
      xml:lang="en" >
  <head>
    <title>Has My Gem Built Yet?</title>
    <%= javascript_include_tag 'prototype' %>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-2310810-5");
      pageTracker._trackPageview();
    </script>
  </head>
  <body>
    <%= image_tag 'http://gems.github.com/octocat.png', :style => "float:right", :width => 500, :height => 500 %>
    <h1>Has My Gem Built Yet?</h1>
    <%= yield %>
    <hr style="clear:both"/>
    <p style="font-size: 0.75em">
      Built by <a href="http://www.floppy.org.uk">James Smith</a>. This page is not associated with <a href="http://github.com">GitHub</a> in any way, apart from thinking that they are awesome (I hope they don't mind me borrowing the image above). Code is available on <a href="http://github.com/Floppy/hasmygembuiltyet">GitHub</a>, of course.
    </p>
  </body>
</html>
